/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.onyx-grabber {
	background: url("../../assets/sandswitch-5percent.svg") no-repeat center;
}

.toolbar, .onyx-sample-divider {
	font-size: 1.3rem;
}

.onyx-checkbox {
	margin: 0.25rem;
}

/* MenuPaneSample.css */

.menu-header,
.menu-item {
  height: 40px;
  width: 284px;
  /* width: 100%; */
  color: white;
  padding: 16px 0 0 16px;
	font-size: 1.3rem;
}

.menu-header > *,
.menu-item > * {
  display: inline-block;
}

.menupane-menu .menu-header,
.menupane-menu .menu-item {
  padding-right: 60px;
}

.menupane-menu {
  background: url(../../assets/bg.png);
}

.menupane-menu-secondary .menu-header,
.menupane-menu-secondary .menu-item {
  padding-left: 76px;
}

.menu-header {
  background-color: rgb( 64, 64, 64);
}

.menu-item {
  background-color: rgb(128,128,128);
  background: -moz-linear-gradient(top, #313131 0%, #313131 50%, #313131 51%, #191919 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313131), color-stop(50%,#313131), color-stop(51%,#313131), color-stop(100%,#191919));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #313131 0%,#313131 50%,#313131 51%,#191919 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #313131 0%,#313131 50%,#313131 51%,#191919 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #313131 0%,#313131 50%,#313131 51%,#191919 100%); /* IE10+ */
  background: linear-gradient(to bottom, #313131 0%,#313131 50%,#313131 51%,#191919 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
}

.menu-item.latest {
  border-left-width:1em;
  border-left-style:solid;
  border-color:#7be91e;
  padding-left:1em;
  text-align:justify;
}

.menu-item.today {
  border-left-width:1em;
  border-left-style:solid;
  border-color:#2434d4;
  padding-left:1em;
  text-align:justify;
}

.menu-item.settings {
  border-left-width:1em;
  border-left-style:solid;
  border-color:#CDAA7D;
  padding-left:1em;
  text-align:justify;
}

.menu-item.impressum {
  border-left-width:1em;
  border-left-style:solid;
  border-color:#e4fe6e;
  padding-left:1em;
  text-align:justify;
}

.menupane-pane {
  background-color:#444;
  color: white;
  box-shadow: 0px 0px 5px 6px rgba( 32, 32, 32, 0.5);
}

.content {
  padding: 15px;
  min-height: 5000px;
}

.latest_sensor_element {
  text-align: center;
  float: left;
  background-color: #bbb;
  color: #444;
  margin-right: 25px;
	margin-bottom: 25px;
  border-style: groove;
  border-width: 2px;
  border-color: #7be91e;
  border-radius: 25px;
  padding: 15px;
}

.latest_sensor_element .symbol-C {
  background-image: url(../../assets/temperature1.svg);
	background-size: Auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 50px;
  min-height: 50px;
  display: block;
  float: left;
}

.latest_sensor_element .symbol-Pa {
  background-image: url(../../assets/pressure1.svg);
	background-size: Auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 50px;
  min-height: 50px;
  display: block;
  float: left;
}

.latest_sensor_element .value {
	font-size: 26px;
	font-size: 2rem;
}

.latest_sensor_element .unit {
	font-size: 26px;
	font-size: 2rem;
}

.latest_sensor_element h4, .latest_sensor_element span, .latest_sensor_element div {
  text-align: center !important;
  float: none !important;
}

.enyo-fittable-columns-layout.latest {
  float: none;
}

.impressum-entry {
  text-align: center;
  float: left;
  background-color: #bbb;
  color: #444;
  margin-right: 25px;
  margin-bottom: 25px;
  border-style: groove;
  border-width: 2px;
  border-color: #e4fe6e;
  border-radius: 25px;
  padding: 15px;
}

.impressum-text {

}

.impressum-title {
  font-style: italic;
}

.view h3 {
  margin-top: 0px;
}

.toolbar {

}

.toolbar.latest {
  border-top-width:0px;
  border-bottom-width:0px;
  border-right-width:0px;
  border-left-width:0.3em;
  border-left-style:solid;
  border-color:#7be91e;
  padding-left:0.3em;
  text-align:justify;
}

.toolbar.today {
  border-top-width:0px;
  border-bottom-width:0px;
  border-right-width:0px;
  border-left-width:0.3em;
  border-left-style:solid;
  border-color:#2434d4;
  padding-left:0.3em;
  text-align:justify;
}

.toolbar.settings {
  border-top-width:0px;
  border-bottom-width:0px;
  border-right-width:0px;
  border-left-width:0.3em;
  border-left-style:solid;
  border-color:#CDAA7D;
  padding-left:0.3em;
  text-align:justify;
}

.toolbar.impressum {
  border-top-width:0px;
  border-bottom-width:0px;
  border-right-width:0px;
  border-left-width:0.3em;
  border-left-style:solid;
  border-color:#e4fe6e;
  padding-left:0.3em;
  text-align:justify;
}
